
<html>
    <head>
        <meta charset="UTF-8">
        <title>
		{% block title %}DOL Store
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script type="text/javascript" src="scripts/ckeditor/ckeditor.js"></script>
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
       	</head>
	<body>
        <header class="sticky-top">
        	<div class="container">
                	<div class="row">
                        	<div class="col-2 menu">
                                	<a>DOL Store</a>
                                </div>
                          	<div class="col-2"></div>
                                        <div class="col-8 menu">
                                               	<ul>
							<li>
								<a href="{{path('app_home')}}">HOME</a>
							</li>
							<li>
								<a href="">Management</a>
								<ul class="menu_child">
									<li>
										<a href="{{path('app_category')}}">Category</a>
									</li>
									<li>
										<a href="{{path('app_product')}}">Product</a>
									</li>

								</ul>
							</li>


							<li>
								<a href="{{path('app_login')}}">Sign in</a>
							</li>
							<li>
								<a href="{{path('app_registration')}}">Register</a>
							</li>

						</ul>
                                   	</div>
                           	</div>
                    	</div>
          </header>
          <footer>
                  <div class="container">
                  	<div class="row footer">
                        	<div class="col-3">
                                	<h3>About us</h3>
                                        <ul class="menu_footer">
                                        	<li>
							<a>160, 30/4 Street, An Phu, Ninh Kieu, Can Tho</a>
						</li>
                                                <li>
							<a>Hotline: 0968.670.804 | 0936.600.861</a>
						</li>
                                                <li>
							<a>Telephone: 0292.730.0068</a>
						</li>
                                         </ul>
                                </div>
                          </div>
                   </div>
                   <div class="row">
                     	<div class="col-12 copy_right">
                        	<a href="">No copyRight designer By MR.Lap.Vinh.Tang</a>
                       	</div>
               	   </div>
         </footer>
    </body>
</html>
