
<html>
    <head>
        <meta charset="UTF-8">
        <title>
		{% block title %}DOL Store
		{% endblock %}
	</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script type="text/javascript" src="scripts/ckeditor/ckeditor.js"></script>
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
        <header class="sticky-top">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-2 menu">
                                                            <a>DOL Store</a>
                                                        </div>
                                                        <div class="col-2">

                                                        </div>
                                                        <div class="col-8 menu">
                                                            <ul>
                                                                <li><a href="{{path('app_home')}}">HOME</a></li>
                                                                <li><a href="">Management</a>
                                                                    <ul class="menu_child">
                                                                        <li><a href="{{path('app_category')}}">Category</a></li>
                                                                        <li><a href="{{path('app_product')}}">Product</a></li>

                                                                    </ul>
                                                                </li>
                                                                
                                                               
                                                                    <li><a href="?page=login">Login</a></li>
                                                                    <li><a href="?page=register">Register</a></li>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </header>
    </head>

    <body>
        {% block body %}
                             
                                            
                                            
                                                <br>

                                        <div class="slideshow-container">

                                        <div class="mySlides fade">
                                        <div class="numbertext">1 / 3</div>
                                        <img src="image/LOGO1.jpg" style="width:100%">
                                        <div class="text"></div>
                                        </div>

                                        <div class="mySlides fade">
                                        <div class="numbertext">2 / 3</div>
                                        <img src="image/LOGO2.jpg" style="width:100%">
                                        <div class="text"></div>
                                        </div>

                                        <div class="mySlides fade">
                                        <div class="numbertext">3 / 3</div>
                                        <img src="image/LOGO3.JPG" style="width:100%">
                                        <div class="text"></div>
                                        </div>

                                        </div>
                                        <br>

                                        <div style="text-align:center">
                                        <span class="dot"></span> 
                                        <span class="dot"></span> 
                                        <span class="dot"></span> 
                                        </div>

                                        <script>
                                        let slideIndex = 0;
                                        showSlides();

                                        function showSlides() {
                                        let i;
                                        let slides = document.getElementsByClassName("mySlides");
                                        let dots = document.getElementsByClassName("dot");
                                        for (i = 0; i < slides.length; i++) {
                                            slides[i].style.display = "none";  
                                        }
                                        slideIndex++;
                                        if (slideIndex > slides.length) {slideIndex = 1}    
                                        for (i = 0; i < dots.length; i++) {
                                            dots[i].className = dots[i].className.replace(" active", "");
                                        }
                                        slides[slideIndex-1].style.display = "block";  
                                        dots[slideIndex-1].className += " active";
                                        setTimeout(showSlides, 2000); // Change image every 2 seconds
                                        }
                                        </script>
                                        	<div class="row">
		
</div>

                                            
                                                
                                            <footer>
                                                <div class="container">
                                                    <div class="row footer">
                                                        <div class="col-3">
                                                            <h3>About us</h3>
                                                            <ul class="menu_footer">
                                                                <li><a>160, 30/4 Street, An Phu, Ninh Kieu, Can Tho</a></li>
                                                                <li><a>Hotline: 0968.670.804 | 0936.600.861</a></li>
                                                                <li><a>Telephone: 0292.730.0068</a></li>

                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 copy_right">
                                                        <a href="">No copyRight designer By MR.Lap.Vinh.Tang</a>
                                                    </div>
                                                </div>
                                            </footer>
                                        </body>


                                        
        
        
        {% endblock %}
    </body>




</html>
